nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.DS_Store
*/.DS_Store
.gitignore.swp
Assignment1/.metadata/*
Assignment1/Setence Generator/src/.metadata/*
Assignment1/Setence Generator/nbproject/private/


*/catalog-v001.xml

A4/issue1/catalog-v001.xml
